
$darkgrey: rgb(195, 198, 205);
$darkergrey: rgb(133, 136, 143);
$lightgrey: rgb(222, 235, 243);

@mixin menu {
  background: $darkgrey;
  border-top: 1px solid $lightgrey;
  border-left: 1px solid $lightgrey;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.intro {
  font-family: "Perfect Dos";
  text-align: center;
  padding: 100px 300px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#canvas {

  border: 2px solid #dadada;
  border-radius: 7px;
  margin-left: 350px;
  margin-top: 125px;
}

#canvas:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

body {
  background: black;
  font-family: Tahoma;
}

.game-name {
  color: white;
  margin-top:100px;
}

.monitor {
  position: relative;
  width: auto;
  height: 700px;
  background: #008080;
  margin: auto;
  
}

.start {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgb(195, 198, 205);
  border-top: 3px solid $lightgrey;
  display: flex;
  justify-content: space-between;
  
  &__button {
    width: 80px;
    height: 72%;
    @include menu;
    margin: 3px;
    display: flex;
    align-items: center;
    
    &:active {
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid $lightgrey;
      border-bottom: 2px solid $lightgrey;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
  
  &__logo {
    width: 35px;
    height: 18px;
    position: relative;
    
    &::after {
      content: "";
      background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
      background-size: contain;
      mix-blend-mode: multiply;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
  
  &__text {
    font-size: 14px;
    font-weight: bold;
  }
  
  &__time {
    width: 80px;
    height: 72%;
    background: $darkgrey;
    border-top: 2px solid $darkergrey;
    border-left: 2px solid $darkergrey;
    border-right: 2px solid $lightgrey;
    border-bottom: 2px solid $lightgrey;
    margin: 3px;
    display: flex;
    align-items: center;
    
    &-text {
      margin: auto;
      font-size: 12px;
    }
  }
  
  // Main menu styles
  
  &__menu-main {
    @include menu;
    width: 20%;
    display: none;
    position: absolute;
    bottom: 38px;
    
    &-side {
      background: $darkergrey;
      width: 15%;
      
      &-text {
        position: relative;
        margin-top: 202px;
        
        .windows {
          font-weight: bold;
          color: $darkgrey;
          transform: rotate(270deg);
        }

        .ninefive {
          color: white;
          transform: rotate(270deg);
          margin-bottom: 56px;
        }
      }
    }
    
    &-items {
      padding: 0;
      width: 100%;
      
      .icon {
        width: 30px;
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }
      
      &-item {
        font-size: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        
        &:hover {
          background: rgb(0, 32, 125);
        }
        
        &:hover &-title {
          color: white;
        }
        
        &:hover &-arrowright {
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid white;
        }
      }
    }
    
    &-items-list1 {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $darkergrey;
    }
    
    &-items-list2 {
      margin: 0;
      padding: 0;
      border-top: 1px solid $lightgrey;
    }
  }
  
  &__menu-sub {
    @include menu;
    flex-direction: column;
    width: 180px;
    left: 156px;
    padding: 0;
    display: none;
    position: absolute;
      
    .icon {
      width: 23px;
      height: 23px;
    }
      
    &-items {
      
      &-item {
        display: flex;
        align-items: center;
        
        &:hover {
          background: rgb(0, 32, 125);
        }
        
        &:hover &-title {
          color: white;
        }
        
        &:hover &-arrowright {
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid white;
        }
        
        &-title {
          margin: 7px 0;
        }
      }
    }
  }
}


// Universal styles for desktop icons

.desktop-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__icon {
    height: 50px;
  }
  
  &__text {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  &:hover {
    cursor: pointer;
  }
}

// My Computer specific styles

.computer {
  top: 20px;
  left: 10px;
  
  &__icon {
    width: 55px;
    background: url("https://www.pngkey.com/png/full/44-448393_windows-95-icons-png-picture-free-stock-icon.png");
    background-size: contain;
  }
}

// Recycle Bin specific styles

.recycle {
  top: 120px;
  left: 10px;
  
  &__icon {
    width: 53px;
    background: url("https://telegram-stickers.github.io/public/stickers/windows-95/27.png");
    background-size: contain;
  }
}





